@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62,5%;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
    position: relative;
    top: 20vh;
    grid-gap: 10px;
}

h1::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    display: block;
    margin: 0 auto;
}

.title{
    height: 25px;
    font-size: 1em;
    font-weight: bold;
}

.text{
   font-size: 1em;
   border-radius: 5px;
}

.update-btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px; 
    text-decoration: none;
    transition: ease-out 0.3s;
    background-color: #F5F5F5;
    cursor: pointer;
    width: 80px;
    font-size: 1em;
}

.update-btn:hover{
    border-radius: 15px;
    box-shadow: inset 80px 0 0 0 #4FBDBA;
}

.home-btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    transition: ease-out 0.3s;
    background-color: #F5F5F5;
    cursor: pointer;
    color: black;
}

.home-btn:hover{
    border-radius: 15px;
    box-shadow: inset 115px 0 0 0 #4FBDBA;
    
}